@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "PT Sans Caption", sans-serif; }

/* Media Querys */
.header__nav {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #c10509;
  border-bottom: 3px solid #f0ec00; }
  .header__nav .header__navbar {
    display: table;
    margin: auto; }
    .header__nav .header__navbar .boton {
      padding: 15px;
      color: #f5f5f5;
      display: inline-flex;
      position: relative;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      transition: 1s ease all; }
      .header__nav .header__navbar .boton:hover {
        color: #040404; }
  .header__nav .header__logo {
    background: black;
    background: linear-gradient(0deg, black 0%, rgba(255, 0, 0, 0.437412) 83%, #ed0c0c 100%);
    width: 100%;
    z-index: 8;
    margin-top: 3px; }
    .header__nav .header__logo .header__logo__tamaño {
      height: 40px;
      width: 60px;
      margin: 5px 0 5px 0; }

.section__img {
  margin-top: 70px; }
  .section__img .section__img_ferrari {
    border-radius: 15px; }

.section__index {
  margin: 20px auto;
  line-height: 2.2rem; }
  .section__index .section__titulo {
    font-family: "Play", sans-serif;
    margin: 30px;
    text-align: center; }
    .section__index .section__titulo .section__texto {
      font-size: 1rem;
      margin: 0 100px 50px 00px;
      justify-content: center;
      text-align: justify; }
  .section__index .section__texto {
    font-size: 1rem;
    margin: 0 50px 50px 50px;
    justify-content: center;
    text-align: justify; }

.titulo__f1 {
  font-family: 'Play', sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: 60px;
  animation: bounceIn;
  animation-duration: 2s;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff; }

.carousel__f1 {
  margin-top: 30px;
  border: #fff solid 1px;
  border-radius: 10px; }
  .carousel__f1 .carousel__img {
    border-radius: 10px; }

.container__video__f1 {
  margin-top: 30px;
  margin-bottom: 30px; }
  .container__video__f1 .video__f1 {
    border: #fff solid 1px;
    border-radius: 10px; }

.imagen__piloto {
  animation: fadeInLeft;
  animation-duration: 2s; }

.texto__piloto {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1rem;
  text-align: justify;
  animation: fadeInRight;
  animation-duration: 2s; }
  .texto__piloto .titulo__piloto {
    font-family: "Play", sans-serif; }

.titulo__calendario {
  text-align: center;
  margin-top: 80px;
  font-family: "Play", sans-serif;
  font-size: 3rem; }

.img__calendario {
  max-width: 1000px;
  margin: auto; }

.formulario {
  margin: 50px auto;
  max-width: 1000px;
  background-color: #ddff02;
  border-radius: 10px;
  padding: 10px; }
  .formulario .formulario__titulo {
    font-family: "Play", sans-serif;
    text-align: center;
    margin-bottom: 20px; }
  .formulario .btn__enviar {
    background-color: #c10509;
    color: #d7d700;
    font-family: "Play", sans-serif;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: #383f53;
    border: none; }
    .formulario .btn__enviar:hover {
      box-shadow: 2px 2px 15px 2px #ffffff; }
  .formulario .btn__limpiar {
    background-color: white;
    color: white;
    font-family: "Play", sans-serif;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: #383f53;
    border: none; }
    .formulario .btn__limpiar:hover {
      box-shadow: 2px 2px 15px 2px #ffffff; }

.footer {
  background-color: #c10509;
  border-top: 3px solid #f0ec00; }
  .footer .footer__btn {
    margin: auto;
    border-color: transparent; }
    .footer .footer__btn .footer__btn__help {
      background-color: #d7d700;
      color: #48f148;
      font-family: "Play", sans-serif;
      cursor: pointer;
      outline: none;
      border-radius: 5px;
      background: #383f53;
      border: none; }
      .footer .footer__btn .footer__btn__help:hover {
        box-shadow: 2px 2px 15px 2px #ffffff; }
    .footer .footer__btn .copy {
      text-align: left;
      font-size: .7rem;
      color: black;
      margin-bottom: 0; }

.redes {
  display: flex;
  justify-content: flex-end; }
  .redes ul li {
    display: inline-block;
    padding: 30px; }
    .redes ul li a {
      text-decoration: none; }
      .redes ul li a .redes__img {
        width: 40px;
        height: 40px; }
        .redes ul li a .redes__img:hover {
          background-color: white;
          border-radius: 50px; }

#galeria__campeones .campeones__titulo {
  font-family: "Play", sans-serif;
  font-size: 3rem; }

#galeria__campeones p {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.5rem; }

#galeria__campeones .col-lg-4 {
  padding: 25px; }

#galeria__campeones img {
  width: 100%;
  height: 250px; }
  #galeria__campeones img:hover {
    border: 5px solid #f7f7f7; }

.body__404 {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #c10509; }
  .body__404 .container__404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center; }
    .body__404 .container__404 .img__404 {
      width: 50%; }
    .body__404 .container__404 .titulo__404 {
      font-family: "Play", sans-serif;
      color: #e3e2e2;
      font-size: 2rem;
      padding: 20px; }
    .body__404 .container__404 .boton__404 {
      font-family: "Play", sans-serif;
      padding: 15px 30px;
      background-color: black;
      color: #f2eded;
      border-radius: 5px;
      border: none;
      text-decoration: none; }
