/* Font Famyly
font-family: 'Play', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
*/

*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'PT Sans Caption', sans-serif;
}

/* Barra de Navegación */
.header__nav{
    font-family: 'Play', sans-serif;
    background-color: rgb(193 5 9);
    border-bottom: 2px solid black;

}
.navbar{
    display: table;  
    float: none !important;
    margin: auto !important;
}
.navbar-brand{
    color: white;
    }

.nav-link{
    color: white;
}

.tamañoLogo{
    height: 40px;
    width: 60px;
    margin-top: 5px;
}
.logo{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.7));
    width: 100%;
    z-index: 8;
}
.section__index{
    margin: 20px;
    text-align: justify;
    line-height: 2.2rem;
    font-size: 1.2rem;
}

/* Index */

.texto__index{
    font-size: 1rem;
    margin: 0 100px 50px 100px;
}

/* Pilotos */
.subtitulo{
    font-family: 'Play', sans-serif;
    text-align: center;
    margin: 30px;
}

/* F1-75 */
.titulo__f1{
    font-family: 'Play', sans-serif;
    text-align: center;
    margin-top: 40px;
    text-shadow: 
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
}
.video{
    margin-top: 60px;
}

/* Pilotos */
.imagen__piloto{
    animation: fadeInLeft;
    animation-duration: 2s;
}

.texto__piloto {
    font-size: 1rem;
    margin: 40px;
    animation: fadeInRight;
    animation-duration: 2s; 
}

/* Calendario */
.img__calendario{
  
    width: 700px;
    justify-content: center;
    align-items: center;
}


/* Footer */

footer{
    background-color:rgb(193 5 9) ;
}
.btn{
   margin: auto;
}
.btn-help{
    font-family: 'Play', sans-serif;
    font-size: 15px;
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: rgb(0, 41, 154);
    border: none;
}

.btn-help:hover{
    box-shadow: 2px 2px 15px 2px rgba(255, 255, 255);
}



.redes ul li {
    display: inline-block;
    padding: 30px;
}
.redes ul li a {
    font-family: 'Play', sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;

}

/* Media Querys */
@media (max-width: 767.98px) { 
    .texto{
        font-size: 10px;
        line-height: 1.5rem;
    }
 }
