$bg-red:#c10509;
$bg-blue:rgb(0, 0, 198);
$bg-yellow:rgb(215, 215, 0);
$bg_green:#48f148;
$white:white;
$text: 'PT Sans Caption', sans-serif;
$titulo: 'Play', sans-serif;
$nav:'Merriweather Sans',
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin estilo__btn ($bg, $color) {
    background-color: $bg;
    color: $color;
    font-family: $titulo;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: #383f53;
    border: none;
    

    &:hover {
        box-shadow: 2px 2px 15px 2px #ffffff;
    }
}

body {
    font-family: $text;
}

/* Media Querys */
// @media (max-width: 767.98px) {
//     .section__texto {
//         font-size: 15px;
//         line-height: 1.5rem;
//     }
// }


// @media (max-width: 576px) {

//     .section__index,
//     .section__texto {
//         margin: 0 50px 50px 50px;
//         font-size: 12px;
//         line-height: 1rem;
//         text-align: justify;
        
//     }
// }