$bg-red:#c10509;
$bg-blue:rgb(0, 0, 198);
$bg-yellow:rgb(215, 215, 0);
$bg_green:#48f148;
$white:white;
$text: 'PT Sans Caption', sans-serif;
$titulo: 'Play', sans-serif;
$nav:'Merriweather Sans',
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin estilo__btn ($bg, $color) {
    background-color: $bg;
    color: $color;
    font-family: $titulo;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: #383f53;
    border: none;
    margin-top: 20px;
    &:hover {
        box-shadow: 2px 2px 15px 2px #ffffff;
    }
}

body {
    font-family: $text;
}