.header__nav {
    font-family: $nav;
    background-color: $bg-red;
    border-bottom: 3px solid #f0ec00;
    .header__navbar {
        display: table;
        margin: auto;
        
        .boton{
            padding: 15px;
            color: #f5f5f5;
            display: inline-flex;
            position: relative;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            // border: none;
            transition: 1s ease all;
            &:hover{
                color: #040404;
           }
         
          
                     
        }
     
    }
    .header__logo {

        // Colocar padding:20px al Nav

        // #870000; #190A05
        // background-image: linear-gradient( 109.6deg,  rgba(255,174,0,1) 11.2%, rgba(255,0,0,1) 100.2% );

        // #e52d27; #b31217


        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,0,0,0.4374124649859944) 83%, rgba(237,12,12,1) 100%);
        width: 100%;
        z-index: 8;
        margin-top: 3px;
       .header__logo__tamaño{
            height: 40px;
            width: 60px;
            margin: 5px 0 5px 0;
        }

    }
}
