.titulo__calendario{
    text-align: center;
    margin-top: 80px;
    font-family: $titulo;
    font-size: 3rem;
}
.img__calendario{
   max-width: 1000px;
   margin: auto;
}

.formulario{
    margin: 50px auto;
    max-width: 1000px;
    background-color: rgb(221, 255, 2);
    border-radius: 10px;
    padding: 10px;
    .formulario__titulo{
        font-family: $titulo;
        text-align: center;
        margin-bottom: 20px;
    }

    .btn__enviar{
        @include estilo__btn($bg-red,$bg-yellow)

    }
    .btn__limpiar{
       @include estilo__btn($white,$white)

    }
}