.titulo__calendario{
    text-align: center;
    margin-top: 50px;
    font-family: $titulo;
    font-size: 3rem;
}
.img__calendario{
    width: 1000px;
    justify-items: center;
    margin: 30px 30px 60px 150px;
}