.section__index {
    margin: 20px;
    line-height: 2.2rem;
   .section__titulo{
       font-family:$titulo;
       margin: 30px;
       text-align: center;
   .section__texto{
       font-size: 1rem;
       margin: 0 100px 50px 00px;
       justify-content: center;
       text-align: justify;
      
       }
   }
   .section__texto{
       font-size: 1rem;
       margin: 0 100px 50px 100px;
       justify-content: center;
       text-align: justify;
      
       }
}