.titulo__f1 {
    font-family: 'Play', sans-serif;
    text-align: center;
    margin-top: 40px;
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
 }
.carousel__f1{
    border: #fff solid 4px;
    border-radius: 10px;
    .carousel__img{
        border-radius: 10px;
    }
}

.container__video__f1{
    margin-top: 30px;
    margin-bottom: 30px;
    .video__f1{
        border: #fff solid 4px;
        border-radius: 10px;
    }
}
