
.imagen__piloto{
    animation: fadeInLeft;
    animation-duration: 2s; 
}

.texto__piloto {
    font-family: $text;
    font-size: 1rem;
    text-align: justify;
    animation: fadeInRight;
    animation-duration: 2s;
    .titulo__piloto{
        font-family: $titulo;
    }
}
